certifi==2023.11.17
charset-normalizer==3.3.2
idna==3.6
imageio==2.33.1
lazy_loader==0.3
networkx==3.2.1
numpy==1.26.2
packaging==23.2
Pillow==10.1.0
requests==2.31.0
scikit-image==0.22.0
scipy==1.11.4
tifffile==2023.12.9
torch==1.12.1+cu102
torchaudio==0.12.1+cu102
torchvision==0.13.1+cu102
typing_extensions==4.9.0
urllib3==1.26.6
